name: Postman API Tests (Core)

on:
  push:
    branches: [ main ]

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install and run Postman CLI
        shell: bash
        run: |
          curl -sL https://dl-cli.pstmn.io/install/linux64.sh | sh
          export PATH="$PATH:$HOME/.postman"
          postman login --with-api-key "${{ secrets.POSTMAN_API_KEY }}"
          name: Postman API Tests (Core)

on:
  push:
    branches: [ main ]

jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install and run Postman CLI
        shell: bash
        run: |
          curl -sL https://dl-cli.pstmn.io/install/linux64.sh | sh
          export PATH="$PATH:$HOME/.postman"
          postman login --with-api-key "${{ secrets.POSTMAN_API_KEY }}"
          postman collection run "COLLECTION_UID_CORE" -e "ENV_UID"
